<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devin Barber : Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Devin Barber</h1>
        <div style="width:400px;">
            <h2>Favorite Video Games</h2>
                <div style="width:400px;">
                <ul>
                    <li>Counter Strike: Global Offensive</li>
                    <li>Borderlands 2</li>
                    <li>World of Warcraft</li>
                    <li>Ark</li>
                    <li>H1Z1</li>
                    <li>League of Legends</li>
                    <li>Rocket League</li>
                    <li>Borderlands 3</li>
                    <li>GTA 5</li>
                    <li>7 Days to Die</li>
                </ul>
                <p>
                    I picked video games as my topic because I think that someones favorite games can tell you about the person. Some people only like a specific genre of games,
                    and will play only first person shooters for example. Me personally, I like to enjoy multiple genre of games but I do prefer to play competitive multiplayers.
                    Also, more specifically I have played CSGO more than any other game I have played, I think I have sunk about 7500 hours into it.
                </p>
            </div>
        </div>
        <nav>
            <a href="#">Home</a>
            <a href="listEntry.html">Add List Entry</a>
            <a href="login.html">Login</a>
        </nav>
    </div>
</body>

</html>