<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devin Barber : Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Add List Entry</h1>
        <div style="width:400px;">
            <form>
                <label for="textH">Add entry to List:</label><br>
                <input type="text" id="textH" name="textH"><br>
              </form>              
        </div>

        <nav>
            <a href="index.html">Home</a>
            <a href="#">List Entry</a>
            <a href="login.html">Login</a>
        </nav>
    </div>
</body>

</html>