<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devin Barber : Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Login to entries</h1>
        <div style="width:400px;">
            <form>
                <label for="textU">Username: </label><br>
                <input type="text" id="textU" name="textU"><br>
                <label for="textP">Password: </label><br>
                <input type="text" id="textP" name="textP"><br>
              </form>
              <button type="button">Login</button>              
        </div>

        <nav id="loginNav">
            <a href="index.html">Home</a>
            <a href="listEntry.html">List Entry</a>
            <a href="#">Login</a>
        </nav>
    </div>
</body>

</html>